.container_form{
    height: 72%;
    width: 1039px;
    position: fixed;
    z-index: 1;
    top: 223px;
    overflow-x: hidden;
    margin-left: 145px; /* 140 Same width as the sidebar + left position in px */
    margin-right: 25px;
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    /* background: #c9bfbf; */
}

h1{
    background: #43D1AF;
	padding: 10px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	/* margin: -16px -16px 16px -16px; */
}

.form-group{
    font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}

.form-control,
.form-control textarea,
.form-control select{
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.form-control:focus,
.form-control textarea:focus,
.form-control select:focus{
    box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.btn-success, .btn-primary{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
    color: #fff;
    font-size: 20px;
}

.btn-success:hover, .btn-primary:hover{
    background: #2EBC99;
}

.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}